# libtool's work-directory.
.libs

# Executables.
ubongo-analyze-3d
ubongo-analyze-duel
ubongo-analyze-minib
ubongo-analyze-minig
ubongo-analyze-minir
ubongo-analyze-miniy
ubongo-analyze-orig
ubongo-compare
ubongo-draw
ubongo-html-3d
ubongo-html-duel
ubongo-html-minib
ubongo-html-minig
ubongo-html-minir
ubongo-html-miniy
ubongo-html-orig
ubongo-solve-3d
ubongo-solve-duel
ubongo-solve-minib
ubongo-solve-minig
ubongo-solve-minir
ubongo-solve-miniy
ubongo-solve-orig

# Built sources.
ubongo-analyze-3d.cpp
ubongo-analyze-duel.cpp
ubongo-analyze-minib.cpp
ubongo-analyze-minig.cpp
ubongo-analyze-minir.cpp
ubongo-analyze-miniy.cpp
ubongo-analyze-orig.cpp
ubongo-solve-3d.cpp
ubongo-solve-duel.cpp
ubongo-solve-minib.cpp
ubongo-solve-minig.cpp
ubongo-solve-minir.cpp
ubongo-solve-miniy.cpp
ubongo-solve-orig.cpp
